+++
title = "Imron Rosyadi"
linkTitle = "Imron Rosyadi"

+++

{{< blocks/cover title="Halo, Selamat datang!" image_anchor="bottom" height="min" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/irosyadi/">
		Github <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Random notes - in the cloud!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
It's about documenting anything walking in **my** head.

(If you want to follow my path, create your own websites with [Docsy](http://docsy.dev))
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Idea!" %}}
This is about inspiration.

Please surf this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/irosyadi" %}}
You can do a [Pull Request](https://github.com/irosyadi/pulls) contributions workflow on **GitHub**.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/irosyadi" %}}
For announcement of latest stuffes etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Another Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/irosyadi" %}}
You can do a [Pull Request](https://github.com/irosyadi/pulls) contributions workflow on **GitHub**.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/irosyadi" %}}
For announcement of latest stuffes etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">More section</h1>
</div>

{{< /blocks/section >}}
